<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AccesFilter</filter-name>
        <filter-class>com.mycompany.mvc.web.AccesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccesFilter</filter-name>
        <servlet-name>GenerateDataServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>BooksViewServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.BooksViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBookServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.NewBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateDataServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.GenerateDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.mvc.web.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BooksViewServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBookServlet</servlet-name>
        <url-pattern>/newBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/deleteBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/updateBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateDataServlet</servlet-name>
        <url-pattern>/generateBooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
